/* SYNTAX STYLES */

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
	line-height: 19px;
	margin: 30px 0;
	padding: 20px 25px;
	word-wrap: initial;
}

code,
kbd,
tt {
	font-size: 16px;
	line-height: 30px;
	margin: 0 2px;
	padding: 4px 6px;
	border: 1px solid #eaeaea;

	@media (max-width: 720px) {
		font-size: 15px;
	}

	@media (max-width: 490px) {
		font-size: 14px;
	}
}

pre code {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

pre,
code,
kbd,
tt {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	color: #444;
	border-radius: 2px;
	background: #f8f8f8;
}

pre,
pre code {
	font-size: 16px;

	@media (max-width: 720px) {
		font-size: 15px;
	}

	@media (max-width: 490px) {
		font-size: 14px;
	}
}

pre .comment {
	color: #998;
}

pre .support {
	color: #0086b3;
}

pre .tag,
pre .tag-name {
	color: navy;
}

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
	font-weight: bold;
}

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
	color: #333;
}

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
	font-weight: normal;
	color: #099;
}

pre .entity.class {
	color: #458;
}

pre .entity.id,
pre .entity.function {
	color: #900;
}

pre .attribute,
pre .variable {
	color: teal;
}

pre .string,
pre .support.value {
	font-weight: normal;
	color: #d14;
}

pre .regexp {
	color: #009926;
}